header {
    text-align: center;
}

header img {
    display: inline-block;
    width: 15%;
    margin: 0 24px 0 24px;
}

body {
    background: #fefefe;
}

h1 {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px lightblue;
}

.pesquisa {
    margin: auto;
    text-align: center;
}

.pesquisa input {
    width: 30%;
    text-align: center;
}

.inputpesquisa {
    border-radius: 8px;
    background: lightblue;
    height: 24px;
    font-size: 16px;
}

ul li {
    margin: 24px 0;
    padding: 24px;
    line-height: 1.5;
    list-style: none;
    border-radius: 10px;
    transition: 400ms;
}

ul li:hover {
    background: lightblue;
}

ul li strong {
    font-size: 22px;
}

ul li a {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    background: #cccccc;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: 400ms;
}

ul li a:hover {
    background: rgb(35, 119, 172);
    color: #fefefe;
    cursor: pointer;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: #fefefe;
    color: black;
    width: 100%;
    height: 50px;  
    text-align: center;
    line-height: 32px;
}

footer p {
    font-size: 12px;
    background: lightblue;
}

@media screen and (max-width: 400px) {
    .pesquisa, .inputpesquisa {
        width: auto;
    }
    h1 {
        text-align: center;
    }
}
