body {
    background: #fefefe;
}

h1 {
    text-align: center;
}

.pesquisa {
    margin: auto;
    text-align: center;
}

.pesquisa input {
    width: 30%;
    text-align: center;
}

ul li {
    margin: 24px 0;
    padding: 10px;
    line-height: 1.5;
    list-style: none;
}

ul li:hover {
    background: lightblue;
}

ul li strong {
    font-size: 24px;
}

ul li a {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    background: #cccccc;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: 400ms;
}

ul li a:hover {
    background: rgb(35, 119, 172);
    color: #fefefe;
    font-weight: bold;
    cursor: pointer;
}



